#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 1px 0px 2px #a8a8a8;
}

.app header {
  background: linear-gradient(306deg, #12df23, #17acde, #de1717);
  background-size: 400% 200%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  padding: 12px 16px;
}

.app header > div {
  display: flex;
  gap: 8px;
}

.app header h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app header h1,
.app header h6 {
  line-height: 1em;
  margin-block: 0.15em;
}

.app header,
.app header a,
.app header a:hover {
  color: #ffffff;
}

.app main {
  display: flex;
  flex: 1 1 0%;
  background-color: #f1f1f1;
}

.app section {
  display: flex;
  flex: 1 1 0%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
