:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  position: relative;
}

a {
  color: #17acde;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:not([disabled]):hover {
  border-color: #17acde;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.embed {
  padding: 0px 24px;
}

.embed iframe {
  width: 100%;
  height: 600px;
  border: 0px;
  border-radius: 8px;
}

/* Demo styles */

.demo-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 12px;
}

.lightbulb {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 64px;
  height: 64px;
  border: 4px solid rgba(200, 200, 200, 0.9);
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: ease-out;
  box-shadow: 0 0 0 4px white;
}

.lightbulb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.lightbulb-container > input[type="color"] {
  width: 20px;
  height: 20px;
  border: 0;
}

.lightbulb-container > input {
  display: none;
}

.lightbulb-container > pre {
  display: none;
}

/* Animations */

.rotate.fast {
  animation-duration: 4s;
}
.rotate {
  animation: rotation 8s infinite linear;
}

.rotate.slow {
  animation-duration: 16s;
}

/* Speed */

.transition-all {
  transition-property: all;
  transition-timing-function: ease-out;
}

.slow {
  transition-duration: 2s;
  border-style: dotted;
}
.normal {
  transition-duration: 1s;
  border-style: dashed;
}
.fast {
  transition-duration: 0.5s;
}
